//btn-color
$slidebtn: rgba(103, 146, 193, 1);
$backgroundcolor: rgba(253, 253, 253, 1);
$textcolor: rgba(254, 254, 254, 1);
$btnskip: rgba(147, 147, 147, 1);

//text/slide color
$titleSlide: rgba(50, 95, 145, 1);
$subtittle: rgba(12, 12, 12, 1);

$accent-text-color: #325f91;
$main-text-color: #0c0c0c;
$light-text-color: #fefefe;
$disabled-text-color: #939393;
$danger-text-color: #c81515;
$danger-disabled-text-color: #f46666;

$background-color: #fdfdfd;
$background-message-blue: #e6ecf3;
$background-message-yellow: #f9f3cc;

$main-button-color: #6792c1;
$accent-button-color: #325f91;
$disabled-button-color: #d7d8d8;
