.form-control-area textarea {
  border: 1px solid $disabled-button-color;
  border-radius: 24px;
  width: 100%;
  height: 111px;
  padding: 18px 24px;
  overflow: hidden;
  resize: none;
  outline: none;

  font-weight: 400;
  font-size: 16px;
  color: $main-text-color;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $disabled-text-color;
    outline: none;
  }
}

.form-control-area {
  position: relative;
  // width: 100%;
  min-width: 358px;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.form-control-area label {
  position: absolute;
  top: -5px;
  left: 0;
  transform: translateX(31px);

  font-weight: 400;
  font-size: 10px;
  color: $disabled-text-color;

  &::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 10px;
    background-color: $background-color;
    bottom: 5px;
    left: -5px;
    z-index: -1;
  }
}
