.form-control-input input {
  border: 1px solid $disabled-button-color;
  border-radius: 24px;
  width: 100%;
  height: 56px;
  margin-bottom: 4px;
  padding: 16px 24px;
  outline: none;

  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  color: $main-text-color;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $disabled-text-color;
    outline: none;
  }
}

.form-control-input {
  position: relative;
  width: 100%;
}

.form-control-input label {
  position: absolute;
  top: -5px;
  left: 0;

  font-weight: 400;
  font-size: 10px;
  color: $disabled-text-color;

  position: absolute;
  top: -9px;
  left: 31px;
  font-weight: 400;
  font-size: 10px;
  color: #939393;
  background-color: #fff;
  padding: 2px;
}

.profiel-form > .form-control-input > label {
  &::after {
    width: 96px;
  }
}

.text-hidden {
  display: none;
}

.input-error {
  margin: 0 31px 29px 31px;
  font-weight: 400;
  font-size: 10px;
  color: #f46666;
  text-align: left;
}
