.modal {
  position: fixed;
  top: 290px;
  min-width: 320px;
  max-width: 768px;
  padding: 24px 16px;
  background: $background-message-blue;
  z-index: 1000;
  left: 50%;
  border-radius: 12px;
  transform: translateX(-50%);
  box-shadow: 3px 3px 4px 0px rgba(215, 216, 216, 0.8);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
}
