* {
  font-family: $font;
}
html,
body {
  height: 100%;
}
.container {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  padding: 48px 16px 24px 16px;
}
.smmall-top-padding {
  padding-top: 24px;
}
.container-header {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  padding: 14px 13px;
}
img {
  width: 100%;
}
.h2 {
  font-weight: $weighttext;
  font-size: 48px;
  color: $titleSlide;
  line-height: 47px;
  text-align: center;
}
.h3 {
  font-weight: $subtext;
  font-size: 20px;
  line-height: 24px;
  color: $subtittle;
  text-align: center;
}
.social-style{
  font-weight: $textbtn;
  font-size: 16px;
  line-height: 19px;
  color: $main-text-color;
}
.regsit-style{
  font-weight: $weighttext;
  font-size: 32px;
  color: $titleSlide;
  line-height: 37px;
  text-align: center;
}
.regsit-descript{
  font-weight: $subtext;
  font-size: 18px;
  color: $main-text-color;
  line-height: 21px;
  text-align: center;
}
body {
  color: var(--main-text-color);
  background: var(--background-color, $background-color);

  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
}
.active{
  background: rgba(0, 0, 0, 0.5) no-repeat center center fixed;
}
.load{
  z-index: -1;
}
[v-cloak] {
  display: none;
}
