.acquaintance {
  &__text {
    text-align: center;
    line-height: normal;

    form {
      position: relative;
      width: 100%;
    }

    form > div > input {
      border: 1px solid $disabled-button-color;
      border-radius: 24px;
      width: 100%;
      height: 56px;
      margin-bottom: 4px;
      padding: 18px 24px;
      outline: none;

      font-weight: 400;
      font-size: 16px;
      color: $main-text-color;

      &:hover,
      &:focus,
      &:active {
        border: 1px solid $disabled-text-color;
        outline: none;
      }
    }
  }
  &__tittle {
    margin: 0 0 8px 0;
    font-weight: 600;
    font-size: 32px;
    color: $accent-text-color;
  }
  &__description {
    margin: 0 0 8px 0;
    font-weight: 400;
    font-size: 18px;
    color: $main-text-color;
  }
  &__caption {
    margin: 0 38px 29px 38px;
    font-weight: 400;
    font-size: 14px;
    color: $disabled-text-color;
  }
  &__explanation {
    margin: 0 auto 29px auto;
    width: 100%;
    font-weight: 400;
    font-size: 10px;
    color: $disabled-text-color;
    text-align: left;
  }
}
