.acquaintance {
  &__text {
    text-align: center;
    line-height: normal;
  }
  &__tittle {
    margin: 0 0 8px 0;
    font-weight: 600;
    font-size: 32px;
    color: $accent-text-color;
  }
  &__description {
    margin: 0 0 8px 0;
    font-weight: 400;
    font-size: 18px;
    color: $main-text-color;
  }
  &__caption {
    margin: 0 38px 29px 38px;
    font-weight: 400;
    font-size: 14px;
    color: $disabled-text-color;
  }
  &__explanation {
    margin: 0 31px 29px 31px;
    font-weight: 400;
    font-size: 10px;
    color: $disabled-text-color;
    text-align: left;
  }
}
